@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body, header {
  color: white;
  text-align: center;
  font-family: "Fredoka One", sans-serif;
  background-image: url('https://cdn.pixabay.com/photo/2015/09/09/16/05/forest-931706_1280.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Fredoka One", sans-serif;
}


.link {
  background-color: white;
  border-radius: 5px 5px 5px 5px;
  color: #228B22;
  font-size: 20px;
  padding-left: 5px;
  padding-right:5px;
}

.link:hover {
  background-color: white;
  border-radius: 5px 5px 5px 5px;
  color: #228B22;
  font-size: 20px;
  padding-left: 5px;
  padding-right:5px;
  cursor: alias;
}

.balance-home-header {
  padding-top: 10%;
  padding-bottom: 5%;
}

.logo-text {
  text-align: left;
  color: #fff;
}

.logo-text:hover {
  color: #fff;
}
